/* Estilos para el contenedor principal */
.container {
    padding: 20px;
}

/* Estilos para el contenedor de descripción */
.contenedor_descripcion {
    background-color: #1a1924;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedor_descripcion .row {
    height: 20%;
}

.contenedor_descripcion input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}

.contenedor_descripcion button[type="button"] {
    margin-right: 10px;
}

.contenedor_descripcion button,
.contenedor_descripcion input[type="text"] {
    background-color: #353349;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el contenedor de lecciones */
.contenedorleccion {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contenedorleccion .row {
    padding: 10px;
}

.contenedorleccion .col-md-3 {
    background-color: #353349;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedorleccion button {
    height: 100%;
    width: 50px;
    
}